.About {
  display: flex;
  justify-content: center; 
  align-items: center;
  flex-wrap: wrap;
}

.headshot {
  max-width: 100%;
  height: auto;
  margin-right: 20px;
}

.text-container {
  flex: 1;
  max-width: 100%;
}

.text-container h2 {
  font-size: 20pt;
}

.text-container p {
  font-size: 14pt;
}
