.App,
.App * {
  color: #575761;
}

.App-logo {
  position: absolute;
  top: 40px;
  left: 70px;
  transform: translateX(-50%);
  height: 40px;
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.Menu {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 20px;
}

.Menu-header {
  display: flex;
  align-items: center;
}

.Menu-link {
  color: inherit;
  text-decoration: none;
  margin: 0 10px;
  font-family: Helvetica, sans-serif;
  font-style: oblique;
  font-size: 14px;
}

.Menu-link:hover {
  text-decoration: underline;
}

.Menu-link:nth-child(1),
.Menu-link:nth-child(2) {
  position: absolute;
  top: 52px;
}

.Menu-link:nth-child(1) {
  left: 92px;
}

.Menu-link:nth-child(2) {
  left: 140px;
}