.ResumeContainer {
    margin-top: 40px;
    margin-bottom: 80px;
    display: flex;
    justify-content: center;
}

.resume-content {
    flex: 1;
    max-width: calc(70% - 20px);
    margin-right: 5%;
    margin-left: 5%;
}

h3 {
    margin-top: 30px;
    font-size: 1.5vw;
    color: #2B9348;
}
  
.university, .first-line {
    font-size: 1vw;
}
  
.degree {
    font-size: 1vw;
}
  
.period {
    font-size: 0.8vw;
}
  
.second-line {
    font-size: 1vw;
}
  
.first-line-skills {
    font-size: 1vw;
}

.centered-button-container {
    display: flex;
    justify-content: center;
}

hr {
    border: none;
    border-top: 1px solid #575761;
  }

.hr-dotted {
    border: none;
    border-top: 1px dotted #575761;
}